<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Russia 2018 World Cup Challenge, <%= @user.name %></h1>
    <p>
      You have successfully signed up to <%= @url %>,
      your username is: <%= @user.email %>.<br> and your password is <%= @password %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for participating and have a great day!</p>
  </body>
</html>