<%= form_for(prediction, remote: true, format: :json, html: { class: "compact edit_prediction"}) do |f| %>
<div class="row-fluid border">
  <div class="span2"><%= prediction.match.home_team.nil? ? prediction.match.alt_home_name : prediction.match.home_team.name %></div>
  <div class="span1"><%= image_tag(prediction.match.home_team.country + '.png') unless prediction.match.home_team.nil? %></div>
  <div class="span2"><%= f.number_field :home_score, min: 0, class: "disabled span12 score text-center", disabled: @viewing_other %></div>
  
  <div class="span2"><%= f.number_field :away_score, min: 0, class: "span12 score text-center", disabled: @viewing_other %></div>
  <div class="span1"><%= image_tag(prediction.match.away_team.country + '.png') unless prediction.match.away_team.nil? %></div>
  <div class="span2 text-right"><%= prediction.match.away_team.nil? ? prediction.match.alt_away_name : prediction.match.away_team.name %></div>
  <div class="span1 text-right"><strong><%= prediction.score %></strong></div>
</div>
<% end %>