<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<h2>User Info</h2>
<hr class="bs-docs-separator">
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Results</h2>
      <hr class="bs-docs-separator">

      <% @group_matches.keys.sort.each do |group_name| %>
      <h3>Group <%= group_name %></h3>
        <% @group_matches[group_name].sort_by { |m| m.datetime }.each do |match| %>
        <div class="row-fluid vfill border">
          <div class="span3 text-center"><%= match.datetime.strftime('%-m/%d %H:%M') %></div>
          <div class="span2"><%= match.home_team.name %></div>
          <div class="span1"><%= image_tag(match.home_team.country + '.png') %></div>
          <div class="span1 text-right"><%= match.home_score %></div>
          <div class="span1 text-center"> - </div>
          <div class="span1 text-left"><%= match.away_score %></div>
          <div class="span1"><%= image_tag(match.away_team.country + '.png') %></div>
          <div class="span2 text-right"><%= match.away_team.name %></div>
        </div>
        <% end %>
      <% end %>  

      <h3> Round of 16 </h3>
      <% @round16_matches.each do |match| %>
        <%= render 'match', :match => match %>
      <% end %>

      <h3> Quarter-finals </h3>
      <% @quarter_matches.each do |match| %>
        <%= render 'match', :match => match %>
      <% end %>

      <h3> Semi-finals </h3>
      <% @semi_matches.each do |match| %>
        <%= render 'match', :match => match %>
      <% end %>

      <h3> Play-off for Third Place </h3>
      <% @third_matches.each do |match| %>
        <%= render 'match', :match => match %>
      <% end %>

      <h3>Final</h3>
      <% @final_matches.each do |match| %>
        <%= render 'match', :match => match %>
      <% end %>

    </div>
    <div class="span6 predictions">
      <h2>Predictions</h2>
      <hr class="bs-docs-separator">

      <% @group_predictions.keys.sort.each do |group_name| %>
      <h3>Group <%= group_name %></h3>
        <% @group_predictions[group_name].sort_by { |p| p.match.datetime }.each do |prediction| %>
          <%= form_for(prediction, remote: true, format: :json, html: { class: "compact edit_prediction"}) do |f| %>
          <div class="row-fluid border">
            <div class="span2"><%= prediction.match.home_team.name %></div>
            <div class="span1"><%= image_tag(prediction.match.home_team.country + '.png') %></div>
            <div class="span2"><%= f.number_field :home_score, min: 0, class: "disabled span12 score text-center", disabled: @viewing_other %></div>
            
            <div class="span2"><%= f.number_field :away_score, min: 0, class: "span12 score text-center", disabled: @viewing_other %></div>
            <div class="span1"><%= image_tag(prediction.match.away_team.country + '.png') %></div>
            <div class="span2 text-right"><%= prediction.match.away_team.name %></div>
            <div class="span1 text-right"><strong><%= prediction.score %></strong></div>
          </div>
          <% end %>
        <% end %>
      <% end %>

      <h3> Round of 16 </h3>
      <% @round16_predictions.each do |prediction| %>
        <%= render 'prediction', :prediction => prediction %>
      <% end %>

      <h3> Quarter-finals </h3>
      <% @quarter_predictions.each do |prediction| %>
        <%= render 'prediction', :prediction => prediction %>
      <% end %>

      <h3> Semi-finals </h3>
      <% @semi_predictions.each do |prediction| %>
        <%= render 'prediction', :prediction => prediction %>
      <% end %>

      <h3> Play-off for Third Place </h3>
      <% @third_predictions.each do |prediction| %>
        <%= render 'prediction', :prediction => prediction %>
      <% end %>

      <h3>Final</h3>
      <% @final_predictions.each do |prediction| %>
        <%= render 'prediction', :prediction => prediction %>
      <% end %>

    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Error</h3>
  </div>
  <div class="modal-body">    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
