<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h2>Predictions</h2>

<% @group_predictions.keys.each do |group_name| %>
<h3>Group <%= group_name %></h3>
<table class="table predictions">
  <% @group_predictions[group_name].each do |prediction|
  options =  (0..9).to_a.map { |n| [n.to_s, n]} %>
  <tr>
    <td><%= prediction.match.home_team.name %></td>
    <td><%= select_tag(:home_score, options_for_select(options, prediction.home_score), class: 'score') %></td>
    <td> - </td>
    <td><%= select_tag(:away_score, options_for_select(options, prediction.away_score), class: 'score') %></td>
    <td><%= prediction.match.away_team.name %></td>
  </tr>
  <% end %>
</table>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
