<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Results</h2>

      <% @group_matches.keys.sort.each do |group_name| %>
      <h3>Group <%= group_name %></h3>
        <% @group_matches[group_name].sort_by { |m| m.datetime }.each do |match| %>
        <div class="row-fluid vfill border">          
          <div class="span3"><%= match.home_team.name %></div>
          <div class="span1"><%= image_tag(match.home_team.country + '.png') %></div>
          <div class="span1 text-right"><%= match.home_score %></div>
          <div class="span2 text-center"> - </div>
          <div class="span1 text-left"><%= match.away_score %></div>
          <div class="span1"><%= image_tag(match.away_team.country + '.png') %></div>
          <div class="span3 text-right"><%= match.away_team.name %></div>
        </div>
        <% end %>
      <% end %>    
    </div>
    <div class="span6 predictions">
      <h2>Predictions</h2>

      <% @group_predictions.keys.sort.each do |group_name| %>
      <h3>Group <%= group_name %></h3>
        <% @group_predictions[group_name].sort_by { |p| p.match.datetime }.each do |prediction| %>
          <%= form_for(prediction, remote: true, html: { class: "compact"}) do |f| %>
          <div class="row-fluid border">
            <div class="span3"><%= prediction.match.home_team.name %></div>
            <div class="span1"><%= image_tag(prediction.match.home_team.country + '.png') %></div>
            <div class="span2"><%= f.number_field :home_score, min: 0, class: "span12 score text-center" %></div>
            
            <div class="span2"><%= f.number_field :away_score, min: 0, class: "span12 score text-center" %></div>
            <div class="span1"><%= image_tag(prediction.match.away_team.country + '.png') %></div>
            <div class="span3 text-right"><%= prediction.match.away_team.name %></div>
          </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
