<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? Make a payment to receive a user account. Use <%= link_to "Venmo", "https://venmo.com/?txn=pay&recipients=andresuribe87%40gmail.com&amount=50&note=Brazil%20Pool&audience=private" %> or <%= link_to "Paypal", "paypal.me/andresuribe87/50" %></p>
  </div>
</div>